In [1]:
from pyspark import SparkContext
import numpy as np
import funciones as udf

package "funciones" succesfully loaded

In [2]:
sc = SparkContext(master = 'local[*]')
main_path = '/media/daniel/Seagate Basic/spark_practica1' # path donde se encuantran los csv

In [19]:
def limpia_alturas(rdd, col=0, sep=','):
    
    # descripcion
    #----------------
    
    #limpia los datos de alturas. Las tareas de la pipeline son: seaparar las lineas del RDD por el separador argumento
    # pasar a centímetros (quitando los puntos), eliminar los números negativos y agregar una cifra a las 
    # alturas que estando en metros solo tenian un decimal.
    
    # argumentos:
    #----------------
    
    #<rdd> | tipo: pyspark.rdd 
    #<col> | tipo: int | descriptivo: columna donde estan las alturas
    #<sep> | tipo: str | seapardor del fichero de texto
    
    # resultado: 
    #----------------
    
    #<result> | tipo: pyspark.rdd  | descriptivo: rdd separado por lineas
    
    rdd_limpio = udf.preprocesa_rdd(rdd)\
                     .map(lambda x: x[:col]+[x[col].replace('.', '')]+x[col+1:])\
                     .filter(lambda x: '-' not in x[col])\
                     .map(lambda x: x[:col]+[float(x[col]+'0')]+x[col+1:] if len(x[col])<3 else x)
        
    return rdd_limpio

# PRIMERA PARTE

In [15]:
alturas = f'{main_path}/alturas_v0.csv'
rdd_alturas = sc.textFile(alturas)

Las funciones que sacan los resultados pedidos siempre necesitan una columna por la que agregar. Para eso, se crea la clave 'global' para todas las observaciones.

In [16]:
rdd_alturas_limpio = limpia_alturas(rdd_alturas).map(lambda x: ['global']+ x)

In [20]:
medias = udf.summary(rdd_alturas_limpio, features=[1], agg=[0], std=['mean'])
medias.take(2)

[('global', (168.93825222396651,))]

In [21]:
std = udf.summary(rdd_alturas_limpio, features=[1], agg=[0], std=['std'])
std.take(2)

[('global', (7.8340557833708955,))]

# SEGUNDA PARTE

In [22]:
alturas2 = f'{main_path}/alturas.csv'
rdd_alturas2 = sc.textFile(alturas2)

rdd_alturas_limpio2 = limpia_alturas(rdd_alturas2, col=1)

In [23]:
medias = udf.summary(rdd_alturas_limpio2, features=[1], agg=[0], std=['mean'])
medias.take(2)

[('H', (173.46075433231397,)), ('M', (164.16774193548386,))]

In [24]:
std = udf.summary(rdd_alturas_limpio2, features=[1], agg=[0], std=['std'])
std.take(2)

[('H', (7.53122883663738,)), ('M', (4.684891325217995,))]